* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    /* background-color: aqua; */
    background-image: url(./img/pexels-photo-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    

}

.main {
    /* background-color: brown; */
    /* text-align: center; */
    min-height: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.topic {
    /* background-color: chocolate; */
    text-align: center;
    margin-bottom: 10px;
    
}

.bar {
    /* padding: 4px; */
    height: 80px;
}

div h1 {
    font-size: 5rem;
    letter-spacing: 5px;
}
div p {
    text-align: center;
    margin-block: 6px;
    word-spacing: 8px;
    letter-spacing: 4px;
    margin-top: 20px;
}


.link-logo {
    /* background-color: blueviolet; */
    /* width: 100px; */
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

img {
    width: 50px;
    padding: 4px;
    border: 1px solid white;
    border-radius: 50%;
}

.progress-box {
    display: inline;
    text-align: center;
}

.progress-bar {
    background-color: rgb(255, 255, 255);
    width: 500px;
    display: inline-block;
}

.inprogress {
    background-color: rgb(107, 201, 255);
    width: 70%;
    text-align: end;
}

.progress-stat {
    /* background-color: blueviolet; */
    display: inline;
}

.progress-stat02 {
    /* background-color: blue; */
    /* display: block; */
    width: 500px;
    margin: auto;
    height: 50px;
    width: 48%;
}

.progress-stat02 {
    /* background-color: brown; */
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

}

button {
    background-color: rgb(139, 247, 255);
    color: rgb(59, 59, 59);
    border: none;
    padding-inline: 20px;
    padding-block: 10px;
    margin-block: 30px;

}

.bottom {
    /* background-color: darksalmon; */
    height: 5%;
    padding-block: 5px;
    text-align: center;
    
}

.bottom-a {
    paddin
}

.bottom hr{
    margin-bottom: 5px;
}